.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: tomato;
  font-weight: 600;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__reddot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  left: 35px;
  bottom: 30px;
}
